<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <h2>Sign Up Form</h2>
      <form class="form-group">
        <%= form_for(@user) do |f| %>
          <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Email Address" %>
            <br>
          <small class="text-muted">We'll never share your email with anyone else.</small>
          </fieldset>
          <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Choose a Password" %>
          </fieldset>
          <fieldset class="form-group">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, placeholder: "Retype Password" %>
          </fieldset>
          <%= f.submit "Submit", class: "btn btn-sm btn-success" %>
        <% end %>
      </form>
      </div>
    </div>
</div>
