<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Hello, <%= current_user.email %> | <%= link_to "Logout", logout_path %></h2>
    </div>
  </div>
  <div class="row col-md-6">
    <div class="form-group">
      <h3>Submit A New Link</h3>
      <%= form_for @link do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.label :url %>
        <%= f.text_field :url, placeholder: "URL" %>
        <%= f.submit "Create Link", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
<div class="row col-md-12">
  <div id="links">
    <h2>Your Links</h2>
    <% @links.each do |link| %>
      <div class="link" data-id="<%= link.id %>">
      <ul>
        <h4>Title: <%= link.title %> | <h4 id="link-status"><%= link.status %></h4> | </h4>
        <h5><%= link_to link.url, link.url %></h5>
        <button type="button" class="btn-sm btn-info" id="mark-as-read">Mark as Read</button>
        <button type="button" class="btn-sm btn-info" id="mark-as-unread">Mark as Unread</button>
      </ul>
      </div>
    <% end %>
  </div>
</div>
</div>
